<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="MMTProject"
            name="MMT">
      </category>
      <wizard
            category="MMTProject"
            class="info.kwarc.mmt.MMTProject.wizards.MMTProjectWizzard"
            icon="icons/sample.gif"
            id="info.kwarc.mmt.MMTProject.wizards.MMTProjectWizzard"
            name="New MMT Project"
            project="true">
      </wizard>
   </extension>
   <extension
         id="lfbuilder"
         name="LF Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="info.kwarc.mmt.MMTProject.LFBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="mmtnature"
         name="MMT Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="info.kwarc.mmt.MMTProject.MMTNature">
         </run>
      </runtime>
      <builder
            id="MMTProject.lfbuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="MMTProject.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="info.kwarc.mmt.MMTProject.ToggleNatureAction"
               enablesFor="+"
               id="MMTProject.addRemoveNatureAction"
               label="Add/Remove MMT Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="TWELFProblem"
         name="TWELF Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <category
         	id="org.eclipse.ui.examples.navigator.category"
         	name="MMT Navigator" 
         />
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/sample.gif"
            id="info.kwarc.mmt.marnav"
            name="MAR file navigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="info.kwarc.mmt.marnav">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="info.kwarc.mmt.marnav">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="info.kwarc.mmt.marnav"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>

 <extension
            point="org.eclipse.ui.preferencePages">
        <page
              category="info.kwarc.mmt.LF"
              class="info.kwarc.mmt.MMTProject.preferences.TWELF"
              id="info.kwarc.mmt.lf.ui.TWELF"
              name="TWELF">
        </page>
    </extension>

</plugin>
